<!DOCTYPE html>
<html lang="{{lang}}">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="{{pageDescription}}">
    <title>{{pageTitle}}</title>
</head>

<body>
    <div class="page">
        <header class="page__header header" role="banner">
            <img class="header__image" id="image" src="@images/numbers/0.svg" alt="{{headerImage}}" width="62"
                height="80">
            <h1 class="header__title">{{pageTitle}}</h1>
        </header>

        <main class="page__main" role="main">
            <aside role="complementary">
                <progress class="progress" id="progress" max="20" value="0"></progress>

                <p class="score">
                    {{score}}:
                    <strong class="score__item score__item--positive" id="positive">0</strong>
                    <strong class="score__item score__item--negative" id="negative">0</strong>
                </p>
            </aside>

            <form class="math" id="form">
                <h2 class="math__title">{{mathTask.title}}</h2>

                <div class="math__question">
                    <span class="math__field">
                        <label for="term-1" class="math__label">{{mathTask.term1}}</label>
                        <input type="text" class="math__num" name="term-1" disabled>
                    </span>
                    <span class="math__sign operator">+</span>
                    <span class="math__field">
                        <label for="term-2" class="math__label">{{mathTask.term2}}</label>
                        <input type="text" class="math__num" name="term-2" disabled>
                    </span>
                    <span class="math__sign math__sign--equal">=</span>
                    <span class="math__field">
                        <label for="answer" class="math__label">{{mathTask.answer}}</label>
                        <input type="text" class="math__num" name="answer" placeholder="?" autocomplete="off"
                            inputmode="numeric" pattern="[0-9]{1,3}" required>
                    </span>
                </div>

                <button type="submit" class="math__btn" name="submit">
                    {{verify}}
                </button>
            </form>

            <div class="history" id="history"></div>
        </main>

        <footer class="page__footer" role="contentinfo">
            <p class="credits">
                {{credits.text}}
                {{#each credits.authors}}
                <a href="{{this.link}}" title="{{this.title}}">{{this.name}}</a>{{#unless @last}},{{/unless}}
                {{/each}}
            </p>
            <p class="copyright">
                {{author}} &copy; 2021 GPL-3.0-or-later
            </p>
            <p class="legal">
                TODO: Google Analytics Cookies information
            </p>
        </footer>
    </div>

    <script async src="https://www.googletagmanager.com/gtag/js?id=G-SZMZLZR7CZ"></script>
</body>

</html>