<!DOCTYPE html>
<html lang="{{lang}}" dir="{{dir}}">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="{{description}}">
    <title>{{title}}</title>
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-SZMZLZR7CZ"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'G-SZMZLZR7CZ');
    </script>
</head>

<body>
    <div class="container">
        <header class="masthead">
            <img class="masthead__image" id="image" src="@images/numbers/1.svg" alt="{{header.imageText}}" width="62"
                height="80">
            <h1 class="masthead__title">{{title}}</h1>
        </header>

        <nav class="nav" id="nav">
            <h2 class="nav__title visually-hidden">{{nav.title}}</h2>
            <a class="nav__item nav__item--selected" href="#addition" title="{{nav.addition}}">{{nav.addition}}</a>
            <a class="nav__item" href="#subtraction" title="{{nav.subtraction}}">{{nav.subtraction}}</a>
            <a class="nav__item" href="#multiplication" title="{{nav.multiplication}}">{{nav.multiplication}}</a>
            <a class="nav__item" href="#division" title="{{nav.division}}">{{nav.division}}</a>
        </nav>

        <main class="container__main">
            <form class="exercise" id="form">
                <h2 class="exercise__title">{{mathTask.title}}</h2>
                <div class="exercise__problem">
                    <span class="exercise__field">
                        <label for="term-1" class="visually-hidden">{{mathTask.term1}}</label>
                        <input type="text" class="exercise__num" name="term-1" id="term-1" disabled>
                    </span>
                    <span class="exercise__sign" id="operator">+</span>
                    <span class="exercise__field">
                        <label for="term-2" class="visually-hidden">{{mathTask.term2}}</label>
                        <input type="text" class="exercise__num" name="term-2" id="term-2" disabled>
                    </span>
                    <span class="exercise__sign exercise__sign--equal">=</span>
                    <span class="exercise__field">
                        <label for="answer" class="visually-hidden">{{mathTask.answer}}</label>
                        <input type="text" class="exercise__num" name="answer" id="answer" placeholder="?"
                            autocomplete="off" inputmode="numeric" pattern="[0-9]{1,3}" required>
                    </span>
                </div>

                <button type="submit" class="exercise__btn" name="submit">{{verify}}</button>
            </form>
        </main>

        <footer class="footer">
            <p class="footer__copy">
                {{author}} &copy; 2021-2022 GPL-3.0-or-later
            </p>
            <p class="footer__copy">
                {{credits.text}}
                {{#each credits.authors}}
                <a href="{{this.link}}" title="{{this.title}}">{{this.name}}</a>{{#unless @last}},{{/unless}}
                {{/each}}
            </p>
        </footer>
    </div>
</body>

</html>