<!DOCTYPE html>
<html lang="{{ lang }}" dir="{{ dir }}">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="{{ description }}">
    <title>{{ title }}</title>
</head>

<body>
    <div class="mx-auto p-4 max-w-xl min-h-full flex flex-col">
        <header class="masthead flex items-center">
            <img class="masthead__image" id="image" src="@images/numbers/1.svg" alt="{{ header.imageText }}" width="62"
                height="80">
            <h1 class="masthead__title m-0 flex-grow">{{ title }}</h1>
        </header>

        <nav class="nav grid grid-cols-4 gap-8" id="nav">
            <h2 class="nav__title sr-only">{{ nav.title }}</h2>
            <a class="nav__item nav__item--selected" href="#addition" title="{{ nav.addition }}">{{ nav.addition }}</a>
            <a class="nav__item" href="#subtraction" title="{{ nav.subtraction }}">{{ nav.subtraction }}</a>
            <a class="nav__item" href="#multiplication" title="{{ nav.multiplication }}">{{ nav.multiplication }}</a>
            <a class="nav__item" href="#division" title="{{ nav.division }}">{{ nav.division }}</a>
        </nav>

        <main class="flex-auto">
            <form class="grid justify-center" id="form">
                <h2 class="exercise__title text-center">{{ mathTask.title }}</h2>
                <div class="exercise__problem grid justify-center items-center gap-2">
                    <span class="relative">
                        <label for="term-1" class="sr-only">{{ mathTask.term1 }}</label>
                        <input type="text" class="exercise__num text-center font-bold" name="term-1" id="term-1" disabled>
                    </span>
                    <span class="exercise__sign font-bold" id="operator">+</span>
                    <span class="relative">
                        <label for="term-2" class="sr-only">{{ mathTask.term2 }}</label>
                        <input type="text" class="exercise__num text-center font-bold" name="term-2" id="term-2" disabled>
                    </span>
                    <span class="exercise__sign exercise__sign--equal font-bold">=</span>
                    <span class="relative">
                        <label for="answer" class="sr-only">{{ mathTask.answer }}</label>
                        <input type="text" class="exercise__num text-center font-bold" name="answer" id="answer" placeholder="?"
                            autocomplete="off" inputmode="numeric" pattern="[0-9]{1,3}" required>
                    </span>
                </div>
                <button type="submit" class="exercise__btn exercise__btn--primary" name="submit">{{ verify }}</button>
                <button type="button" class="exercise__btn exercise__btn--secondary" id="skip">{{ skip }}</button>
            </form>
        </main>

        <footer class="footer text-center m-0">
            <p class="footer__copy">
                {{ author }} &copy; 2021-2022 GPL-3.0-or-later
            </p>
            <p class="footer__copy">
                {{credits.text}}
                {{#each credits.authors}}
                <a class="footer__link" href="{{this.link}}" title="{{this.title}}">{{this.name}}</a>{{#unless
                @last}} {{../credits.separator}} {{/unless}}
                {{/each}}
            </p>
        </footer>
    </div>
</body>

</html>